body {
  background-color:black;
}

#board {
  width: 400px;
  overflow: hidden;
  margin: 50px auto;
}

#board .tile {
  background: red;
}

#board .tile,
#board .tile img {
  height: 100px;
  width: 100px;
  background: purple;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  float:left;
}

#board .tile img {
  visibility: hidden;
}